menupopup[scrollbars="true"] autorepeatbutton
{
	display: none;
}

menupopup[scrollbars="true"] scrollbox
{
	overflow-y: auto !important;
}

menupopup[hide],
menupopup[hide] *
{
	visibility: hidden !important;
	opacity: 0 !important;
}

