menupopup[scrollbars="true"] autorepeatbutton
{
	display: none;
}
menupopup[scrollbars="true"] scrollbox
{
	overflow-y: auto !important;
}
#bfht_showChangesLog .preferences-title
{
	cursor: pointer !important;
}
menuitem[default="true"]
{
	font-weight: bold;
}