menupopup[scrollbars="true"] autorepeatbutton
{
	display: none;
}

menupopup[scrollbars="true"] scrollbox
{
	overflow-y: auto !important;
}

menupopup[hide],
menupopup[hide] *
{
	visibility: hidden !important;
	opacity: 0 !important;
}

.bfht_copy,
.bfht_copy_link,
.bfht_options image
{
	list-style-image:url("images/icons.png") !important;
}
.bfht_copy
{
	-moz-image-region: rect(0, 31px, 16px, 16px) !important;
}
.bfht_copy_link
{
	-moz-image-region: rect(0, 47px, 16px, 31px) !important;
}

.bfht_options
{
	-moz-image-region: rect(0 16px 16px 0) !important;
}

menupopup[contextOpened] menuitem[disabled="true"]
{
	opacity: 0.5;
	color: inherit !important;
}

.popup-notification-icon[popupid="bfht-update"] {
  list-style-image: url("chrome://bfht/skin/images/logo.png");
	width: 59px !important;
	height: 36px !important;
}
