menupopup[scrollbars="true"] autorepeatbutton
{
	display: none;
}

menupopup[scrollbars="true"] scrollbox
{
	overflow-y: auto !important;
}

menupopup[hide],
menupopup[hide] *
{
	visibility: hidden !important;
	opacity: 0 !important;
}

.bfht_copy
{
	list-style-image:url("chrome://bfht/skin/copy.png") !important;
}
.bfht_copy_link
{
	list-style-image:url("chrome://bfht/skin/copy_link.png") !important;
}

.bfht_options
{
	list-style-image:url("chrome://bfht/skin/settings.png") !important;
}

menupopup[contextOpened] menuitem[disabled="true"]
{
	opacity: 0.5;
	color: inherit !important;
}

.popup-notification-icon[popupid="bfht-update"] {
  list-style-image: url("chrome://bfht/skin/logo.png");
	width: 59px !important;
	height: 36px !important;
}